body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.button {
    font: inherit;

    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
    padding: 15px 40px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.title-main {
  font-size: 30px;
  line-height: 1.4;
}

.title-secondary {
  font-size: 24px;
  line-height: 1.25;
}

.main-navigation {
  font-size: 16px;
  line-height: 1.25;
  background-color: #000000;
}

.site-navigation,
.user-navigation,
.features-list,
.news-list,
.social-list,
.breadcrumbs,
.filters ul,
.catalog-list,
.pagination-list,
.product-photo-review,
.product-info ul {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.features-item {
  text-align: center;
}

.index-columns {
  color: #000000;

  background-color: #f5f2ef;
  background-image: url("img/index-columns-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
  outline: none;
}

.main-footer {
  color: #ffffff;
  background-color: #1e1e1e;
  background-image; url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-contacts a {
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
  }

.modal {
  color: #000000;

  background-color: #f5f2ef;
  background-image; url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.login-form input {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
  }

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus{
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.filters fieldset {
  border: none;
}

.filter-option {
  font-size: 14px;
  line-height: 1.29;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.catalog-category {
  font-size: 14px;
  line-height: 1.29;
  text-transform: none
}
.catalog-item {
  background-color:  #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
    color: #ffffff;
    line-height: 1.43;
 }

 .pagination-item a {
  color: #ffffff;
  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
  text-align: right;
  color: #aeaeae;
}