body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  text-transform: uppercase;
}

.title-main {
  font-size: 30px;
  line-height: 1.4;
}

.title-secondary {
  font-size: 24px;
  line-height: 1.25;
}

.features-list {
  color: #f7f4f1;
}

.filter-option {
  font-size: 14px;
  line-height: 1.29;
}

.catalog-category {
  font-size: 14px;
  line-height: 1.29;
  text-transform: none
}
